
@{
    ViewBag.Title = "MissionDisplay";
}

<audio id="workin" autoplay="autoplay">
    <source src="~/IMGs/workin.mp3" type="audio/mp3">
</audio>

<link href="~/Content/Comments.css" rel="stylesheet" />


<div class="navbar navbar-left">

</div>

<div class="container">
    <div class="row">
        <div>
           
            <h1 class="text-center" style="font-family: 'Century Gothic'">
                <b>@ViewBag.MName</b> <br /><br />
                <img src="@ViewBag.Flag" class="img-thumbnail" height="200" width="200" />
            </h1>
            <br/>
            <div class="col-xs-offset-3 ">
                <ul>
                    <li><b style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">President Name:</b> @ViewBag.PName</li>
                    <li><b style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Mission Address:</b> @ViewBag.MAddress</li>
                    <li><b style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Language:</b> @ViewBag.Language</li>
                    <li><b style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Climate:</b> @ViewBag.Climate</li>
                    <li><b style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Dominant Religion:</b> @ViewBag.Religion</li>
                </ul><br>
            </div>
               
            <center> <img src="@ViewBag.Symbol" class="img-circle"  height="100" width="100" /><br><br> </center>
            
           
            

            <div class="container bootstrap snippet">
                <div class="row">
                    <div class="col-md-12">
                        <div class="blog-comment">
                            <h3 class="text-success" style="color: black">Comments</h3>
                            <hr />
                            <ul class="comments">
                                <li class="clearfix">
                                    <img src="~/IMGs/Q.png" class="avatar" alt="">
                                    <div class="post-comments">
                                        <p></p>
                                        <p><b>
                                            What is the daily routine of a missionary like?

                                        </b></p>
                                    </div>

                                    <ul class="comments">
                                        <li class="clearfix">
                                            <img src="~/IMGs/A.png" class="avatar" alt="">
                                            <div class="post-comments">
                                                <p ></p>
                                                <p>
                                                    Missionaries are expected to wake up every day at 6:30 AM.  At 8:00AM they start 
                                                    studying with their companions until lunch time.  Following lunch, missionaries 
                                                    are expected to spend the rest of the day teaching others about the Gospel of Jesus Christ. 
                                                     They are expected to be in bed by 10:30PM.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>

                                    <ul class="comments">
                                        <li class="clearfix">
                                         
                                            <img src="~/IMGs/A.png" class="avatar" alt="">
                                            <div class="post-comments">
                                                <p class="meta">@DateTime.Now.ToString("D")<i class="pull-right"><a href="#"></a></i></p>
                                                <form class="well form-horizontal" action=" " method="post" id="contact_form">
                                                    <fieldset>
                                                        <div class="form-group">
                                                            <label class="col-md-12 control-label"></label>
                                                            <div class="col-md-12 inputGroupContainer">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                                    <textarea class="form-control" name="comment" placeholder="Your text here" required="required" style="min-width:100%"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label"></label>
                                                            <div class="col-md-4">
                                                                <button type="reset" class="btn btn-xs btn-primary">Respond <span class="glyphicon glyphicon-send"></span></button>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                                
                                                
                                            </div>
                                        </li>
                                    </ul>
                              </ul>
                            <hr />

                            <ul class="comments">
                                <li class="clearfix">
                                    <img src="~/IMGs/Q.png" class="avatar" alt="">
                                    <div class="post-comments">
                                        <p></p>
                                        <p>
                                            <b>
                                                How should I prepare for my mission?

                                            </b>
                                        </p>
                                    </div>

                                    <ul class="comments">
                                        <li class="clearfix">
                                            <img src="~/IMGs/A.png" class="avatar" alt="">
                                            <div class="post-comments">
                                                <p></p>
                                                <p>
                                                    Start now!  Read your scriptures daily, prayer morning and night, and study 
                                                    Preach My Gospel as much as you can.   Stay physically active and try to 
                                                    disconnect yourself from technology when possible.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                

                                    <ul class="comments">
                                        <li class="clearfix">

                                            <img src="~/IMGs/A.png" class="avatar" alt="">
                                            <div class="post-comments">
                                                <p class="meta">@DateTime.Now.ToString("D")<i class="pull-right"><a href="#"></a></i></p>
                                                <form class="well form-horizontal" action=" " method="post" id="contact_form">
                                                    <fieldset>
                                                        <div class="form-group">
                                                            <label class="col-md-12 control-label"></label>
                                                            <div class="col-md-12 inputGroupContainer">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                                    <textarea class="form-control" name="comment" placeholder="Your text here" required="required" style="min-width:100%"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label"></label>
                                                            <div class="col-md-4">
                                                                <button type="reset" class="btn btn-xs btn-primary">Respond <span class="glyphicon glyphicon-send"></span></button>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>


                                            </div>
                                        </li>
                                    </ul>
                            </ul>

                            <hr />

                            <ul class="comments">
                                <li class="clearfix">
                                    <img src="~/IMGs/Q.png" class="avatar" alt="">
                                    <div class="post-comments">
                                        <p></p>
                                        <p>
                                            <b>
                                                How can I learn to love the people I will teach?

                                            </b>
                                        </p>
                                    </div>

                                    <ul class="comments">
                                        <li class="clearfix">
                                            <img src="~/IMGs/A.png" class="avatar" alt="">
                                            <div class="post-comments">
                                                <p></p>
                                                <p>
                                                    The best way to love the people you will teach is to already start thinking and 
                                                    praying for them.  If you are serving a mission outside of the United States,
                                                    you might want to learn as much as you can about the local culture as well.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>

                                    <ul class="comments">
                                        <li class="clearfix">

                                            <img src="~/IMGs/A.png" class="avatar" alt="">
                                            <div class="post-comments">
                                                <p class="meta">@DateTime.Now.ToString("D")<i class="pull-right"><a href="#"></a></i></p>
                                                
                                                    <form class="well form-horizontal" action=" " method="post" id="contact_form">
                                                        <fieldset>
                                                            <div class="form-group">
                                                                <label class="col-md-12 control-label"></label>
                                                                <div class="col-md-12 inputGroupContainer">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                                        <textarea class="form-control" name="comment" placeholder="Your text here" required="required" style="min-width:100%"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-4 control-label"></label>
                                                                <div class="col-md-4">
                                                                    <button type="reset" class="btn btn-xs btn-primary">Respond <span class="glyphicon glyphicon-send"></span></button>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                


                                            </div>
                                        </li>
                                    </ul>
                                   

                                <li class="clearfix">
                                    <hr/>
                                    <img src="~/IMGs/Q.png" class="avatar" alt="">
                                    
                                    <div class="post-comments">
                                        <p><h4><b> Ask your question here:</b></h4></p>
                                        <form class="well form-horizontal" action=" " method="post" id="contact_form">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-md-12 control-label"></label>
                                                    <div class="col-md-12 inputGroupContainer">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                            <textarea class="form-control" name="comment" placeholder="Your text here" required="required" style="min-width:100%"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label"></label>
                                                    <div class="col-md-4">
                                                        <button type="reset" class="btn btn-xs btn-primary">Respond <span class="glyphicon glyphicon-send"></span></button>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<img src="~/IMGs/mute.png" onclick="document.getElementById('workin').pause()" style="width:25px;height:25px; color: silver" />
&nbsp;&nbsp;
<img src="~/IMGs/unmute.png" onclick="document.getElementById('workin').play()" style="width:25px;height:25px; color: silver" />
